@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #111;
    color: #FCFBFA;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    overflow-x: hidden;
   
}
header{
 color:#070707ce;  
 text-align: center; 
 background-color: white;
 
}
header > h1#primeiro{
color: #f10202;
text-align: center;
font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
 display: block;
    font-size: 3em;
    margin-block-start: 0px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
header p{
    font-size: 20px;
    color: #700101;
    margin: -5px;
    padding: 0px;
  font-family: "Bebas Neue", sans-serif;
}
nav{
   text-align: center;
    font-size: 20px;
} 
nav a{
    font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic; 
}
nav > a:hover{
    color: #C20101;
    background-color: white;
}
.imagem{
    padding: 15px;
    padding-bottom: 2px;
    max-width: 100%;
    width: 300px;
    height: auto; 
    margin: auto;
    display: block;
    border-radius: 15px;
}
h1.cor{
    color: #C20101;
 font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
 display: block;
    font-size: 40px;
    margin-block-start: 0px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
 }
 main{
    max-width: 802px;
    min-width: 300px;
    margin: auto;
    padding: 10px;
    padding-bottom: 10px;
 }
main h2{
    color: #C20101;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
   font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
 display: block;
}
main p{
    margin: 0px;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}
 main p > a{
    color: #C20101;   
} 
div.video{
    background-color:#111;
   margin: 0px -11px 30px -11px;
   padding: 11px;
   padding-bottom: 56.25%;
   position: relative;
}
div.video > iframe{
  position: absolute;
  top:5% ;
  left:5% ;
  width: 90%;
  height: 90%;
}
footer{
    text-align: center;
    color: #C20101;
    font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;  
}
